---
const pageTitle = "About";

const identity = {
    firstName: "Jacob",
    country: "United States",
    occupation: "Developer",
    hobbies: ["Japanese", "Cycling", "Running"],
};

const showContent = true;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <h1>{pageTitle}</h1>
        <p>
            Hello, my name is {identity?.firstName}. I am a {
                identity?.occupation
            } from the {identity?.country}.
        </p>
        {identity?.hobbies &&
            <h2>Hobbies</h2>
            <ul>
                {identity.hobbies?.map((hobby) => <li>{hobby}</li>)}
            </ul>
        }
        {showContent &&
            <p>This is conditionally handled text.</p>
        }
    </body>
</html>
